<div class="card text-white bg-dark mb-3" >
    <div class="card-header display-4">{{fattura.cliente.nomeContatto}} {{fattura.cliente.cognomeContatto}}</div>
    <div class="card-body">
        <h5 class="card-title">Contatti telefono: {{fattura.cliente.telefono}} // {{fattura.cliente.telefonoContatto}}</h5>
        <h5 class="card-title">Contatti email: {{fattura.cliente.email}} // {{fattura.cliente.emailContatto}}</h5>
        <h5 class="card-title">Pec: {{fattura.cliente.pec}}</h5>
        <h5 class="card-title">Indirizzo sede operativa: {{fattura.cliente.indirizzoSedeOperativa.via}}</h5>
        <h5 class="card-title">Indirizzo sede legale: {{fattura.cliente.indirizzoSedeLegale.via}}</h5>
        <h5 class="card-title">Importo dovuto: {{fattura.importo}} €</h5>
        <h5 class="card-title">Stato della fattura {{fattura.stato.nome}}</h5>
        <h5 class="card-title">Anno della fattura: {{fattura.anno}}</h5>
        <h5 class="card-title">Numero della fattura: {{fattura.numero}}</h5>
        <button type="button" class="btn btn-warning btn-small mx-1" ><i class="bi bi-pen">Modifica</i></button>
    </div>
  </div>