<div class="row">


    <div class="card col-md-6" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/folla.jpg" alt="Card image cap">
        <div class="card-body" >
            <br>
            <br>
            <br>
            <h5 class="card-title">CLIENTI</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non neque harum impedit
                dolorum expedita quisquam ad deleniti quia omnis! Non veniam quisquam quidem excepturi voluptatum ut
                repellat consectetur harum. Quae?</p>
            <a href="#" [routerLink]="['clienti']" class="btn btn-primary">Clienti</a>
        </div>
    </div>

    <div class="card  col-md-6 h-50" style="width: 18rem; height: 270px;">
        <img class="card-img-top" src="../../assets/images/financial-4560047_1280.jpg" alt="Card image cap">
        <div class="card-body" >
            
            <h5 class="card-title">FATTURE</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem nesciunt illo rem
                magni enim voluptatem unde assumenda excepturi, laudantium, molestiae reprehenderit in eveniet ab
                perspiciatis ad pariatur nihil harum ex</p>
            <a href="#" [routerLink]="['fatture']" class="btn btn-primary">Fatture</a>
        </div>
    </div>

</div>